* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
}

:root {
    --primary: #06A3DA;
    --secondary: #34AD54;
    --light: #EEF9FF;
    --dark: #091E3E;
}

.align {
    max-width: 1400px;
    margin: auto;
    padding: 0 3rem;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.3rem;
}

.master {
    position: sticky;
    top: 0;
    z-index: 3;
}

.header-1 {
    height: 45px;
    width: 100%;
    background-color:rgb(17, 17, 68)
}

.header-1 h1 {
    color: white;
    position: absolute;
    left: 2%;
    top: 12px;
    font-size: 15px;
}

.header-1 h2 {
    color: white;
    position: absolute;
    left: 19%;
    top: 12px;
    font-size: 15px;
}

.header-1 h3 {
    color: white;
    position: absolute;
    left: 30%;
    top: 12px;
    font-size: 15px;
}
.header-1 .fas1 {
    color: white;
    font-size: 14px;
    position: relative;
    left: 83%;
    top: 7px;
    padding: 6px 8px;
    margin: 2px;
    border: 1px solid #fff;
    border-radius: 50px;
}
.logo {
    font-size: 35px;
    color: var(--primary);
    margin-left: 3%;
}

.logo h3 {
    font-weight: 800;
}

.navbar {
    background-color: #fff;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li .active {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    border-bottom-width: 3px;
}

.navbar ul li {
    padding: 10px 15px;
    position: relative;
}
.navbar ul li a:hover{
    color: #06A3DA;
    /* background-color: brown; */
}
.navbar ul li a {
    color: var(--dark);
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    transition: all 0.3s;

}

/* .navbar ul li a:hover {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    border-bottom-width: 3px;
} */

.navbar ul li a .fas {
    color: #06A3DA;
    font-weight: 700;
    font-size: 17px;
    margin-right: 5px;
}

.btn {
    font-size: 16.6px;
    background-color: var(--primary);
    color: #fff;
    padding: 2px 20px;
    border-radius: 2px;
    margin-right: 39px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #4BB3E2;
    color: #091E3E;
}

.dropdown-menu {
    display: none;
}

.navbar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    margin-top: 15px;
    margin-left: -15px;
    background-color: white;
}

.navbar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 1px;
   
}

.navbar ul li:hover .dropdown-menu ul li {
    width: 145px;
    padding: 10px;
    
}

.navbar ul li:hover .dropdown-menu ul li a {
    font-size: 16px; 
}

.dropdown-menu-1 {
    display: none;
}

.navbar ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 0;
    margin-top: 15px;
    background-color: #fff;
    margin-left: -15px;
}

.navbar ul li:hover .dropdown-menu-1 ul {
    display: block;
    margin: 1px
}

.navbar ul li:hover .dropdown-menu-1 ul li {
    width: 145px;
    padding: 10px;
}

.navbar ul li:hover .dropdown-menu-1 ul li a {
    font-size: 16px;
}
.navbar ul .dropdown-menu li:hover{
    background-color:rgb(217, 217, 217);
}
.navbar ul .dropdown-menu-1 li:hover{
    background-color:rgb(217, 217, 217);
}
.checkbtn {
    color: var(--primary);
    font-size: 24px;
    margin-right: 49px;
    padding: 4px 7px 1px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    border: 1px solid #06A3DA;
}

#check {
    display: none;
}

@media only screen and (min-width:200px) and (max-width:991px) {
    
    .align{
        margin: auto;
    }

    .header-1 {
        display: none;
    }

    .navbar .navLinks {
        position: absolute;
        top: 70px;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        width: 100%;
        height: auto;
        display: none;
    }

    .navLinks li {
        background-color: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    }

    .navLinks li a {
        margin-left: 40px;
    }

    .navbar ul li:hover .dropdown-menu {
        display: block;
        position: relative;
        top: 10px;
        left: -44px;
    }

    .dropdown-menu ul li a {
        margin-left: 0px;
    }

    .dropdown-menu-1 ul li a {
        margin-left: 0px;
    }

    .navbar ul li:hover .dropdown-menu-1 {
        display: block;
        position: relative;
        top: 10px;
        left: -55px;
    }

    .logo {
        font-size: 25px;
        margin-left: 40px;
    }

    .btn {
        display: block;
        width: 56%;
        height: 35px;
        font-size: 15px;
        position: relative;
        bottom: 45px;
        left: 120px;
    }

    .checkbtn {
        display: block;
    }

    #check:checked~.navLinks {
        display: flex;
    }
    .navbar ul .dropdown-menu li:hover{
        background-color:rgb(217, 217, 217);
    }
    .navbar ul .dropdown-menu-1 li:hover{
        background-color:rgb(217, 217, 217);
    }